<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.report.mapper.FeeMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="FeeResultMap" type="org.springblade.fee.vo.Fee">
        <result column="request_id" property="requestId"/>
        <result column="patient_id" property="patientId"/>
        <result column="request_type_id" property="requestTypeId"/>
        <result column="dept_id" property="deptId"/>
        <result column="doctor_id" property="doctorId"/>
    </resultMap>

    <resultMap id="FeedetailResultMap" type="org.springblade.fee.vo.Feedetail">
        <result column="request_id" property="requestId"/>
        <result column="item_type_id" property="itemTypeId"/>
        <result column="item_count" property="itemCount"/>
        <result column="item_id" property="itemId"/>
        <result column="favor_id" property="favorId"/>
        <result column="favor_name" property="favorName"/>
        <result column="fee_favor" property="feeFavor"/>
        <result column="fee_item" property="feeItem"/>
        <result column="fee_final" property="feeFinal"/>
        <result column="favor_channel_id" property="favorChannelId"/>
        <result column="favor_channe" property="favorChanne"/>
        <result column="execute_dept_id" property="executeDeptId"/>
        <result column="refund_reason" property="refundReason"/>
        <result column="status" property="status"/>

    </resultMap>

    <select id="selectFeeList" resultMap="FeeResultMap">
        select u.request_id,u.patient_id,u.request_type_id,c.dept_id,c.doctor_id from request_detail u left join charge_request c   on  c.request_id  = u.request_id WHERE u.request_id IN
        <foreach collection="list" item="request_id" index="index" open="(" close=")" separator=",">
            #{request_id}
        </foreach>
    </select>
    <select id="selectFeeDetail" resultMap="FeedetailResultMap">
        select request_id,item_type_id,item_count,item_id,favor_id,favor_name,fee_favor,fee_item,fee_final,favor_channel_id,favor_channe,execute_dept_id,refund_reason,status from request_charge_info where request_id =  #{request_id}
    </select>
    <insert id="insertItemCount" parameterType="org.springblade.fee.entity.ItemCount">
        INSERT INTO `request_charge_info`(`item_id`, `item_type_id`, `item_count`, `request_id`,`status`,`fee_item`)
        VALUES (#{item_id},#{item_type_id},#{item_count},#{request_id},#{status},#{fee_item})
    </insert>
    <insert id="insertRequestChargeInfo" parameterType="org.springblade.fee.entity.RequestChargeInfo">
        INSERT INTO `request_detail`(`request_id`, `patient_id`, `request_type_id`)
        VALUES (#{requestId},#{patientId},#{requestTypeId})
    </insert>
    <update id="updateItemCount" parameterType="org.springblade.fee.entity.ItemCount">
        update request_charge_info SET item_id=#{item_id},item_type_id=#{item_type_id},item_count=#{item_count},status=#{status} where request_id=#{request_id} and item_id = #{item_id}
    </update>
    <update id="updateRequestChargeInfo" parameterType="org.springblade.fee.entity.RequestChargeInfo">
        update request_detail SET patient_id=#{patientId},request_type_id=#{requestTypeId} where request_id=#{requestId}
    </update>
    <delete id="deleteItemCount" parameterType="java.lang.Long">
        delete from request_charge_info where request_id = #{request_id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteRequestChargeInfo" parameterType="java.lang.Long">
        delete from request_detail where request_id = #{request_id,jdbcType=BIGINT}
    </delete>
    <insert id="insertChargeRequest" parameterType="org.springblade.fee.entity.ChargeRequest">
        INSERT INTO `charge_request`(`patient_id`, `request_id`, `request_type`, `charge_id`,`dept_id`,`doctor_id`)
        VALUES (#{patientId},#{requestId},#{requestType},#{chargeId},#{deptId},#{doctorId})
    </insert>
    <insert id="insertRecordCharge" parameterType="org.springblade.fee.entity.RecordCharge" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `record_charge`(`patient_id`, `create_time`, `paid_time`, `refund_time`,`status`,`toll_collector_id`)
        VALUES (#{patientId},#{createTime},#{paidTime},#{refundTime},#{status},#{tollCollectorId})
    </insert>
    <insert id="insertChargePay"   parameterType="org.springblade.fee.entity.ChargePay">
        INSERT INTO `charge_pay`(`channel_type_id`, `channel_order`, `channel_account`, `charge_id`,`fee_paid`,`fee_refund`,`paid_time`,`refund_time`,`status`)
        VALUES (#{channel_type_id},#{channel_order},#{channel_account},#{charge_id},#{fee_paid},#{fee_refund},#{paid_time},#{refund_time},#{status})
    </insert>
    <update id="updateChargeRequest" parameterType="org.springblade.fee.entity.ChargeRequest">
        update charge_request SET patient_id=#{patientId},request_type=#{requestType},charge_id=#{chargeId},dept_id=#{deptId},doctor_id=#{doctorId} where request_id=#{requestId}
    </update>
    <update id="updateItemCountItemFavor" parameterType="org.springblade.fee.vo.ItemFavor">
        update request_charge_info SET favor_id=#{favor_id},favor_name=#{favor_name},fee_favor=#{fee_favor},fee_final=#{fee_final} where item_id=#{item_id} and request_id=#{request_id}
    </update>
    <update id="updateChargeRequestByChargeId" parameterType="org.springblade.fee.entity.ChargeRequest">
        update charge_request SET charge_id=#{chargeId} where request_id=#{requestId}
    </update>
    <update id="updateRecordCharge" parameterType="org.springblade.fee.entity.RecordCharge">
        update record_charge SET money=#{money},reason=#{money} where id=#{id}
    </update>
    <update id="updateRecordChargeByStatus" parameterType="org.springblade.fee.entity.RecordCharge">
        update record_charge SET status=#{status} where id=#{id}
    </update>
    <update id="updateItemCountByStatus" parameterType="org.springblade.fee.entity.ItemCount">
        update request_charge_info SET status=#{status}, reason=#{reason} where request_id=#{request_id} and item_id = #{item_id}
    </update>
    <update id="updateRecordChargeByCreateTime" parameterType="java.lang.Integer">
        update record_charge SET status=5  where id =  #{i}
    </update>
    <update id="updateChargePay" parameterType="org.springblade.fee.entity.ChargePay">
        update charge_pay SET channel_order=#{channel_order}, channel_account=#{channel_account},fee_refund=#{fee_refund} where charge_id =  #{charge_id} and channel_type_id =  #{channel_type_id}
    </update>
    <delete id="deleteChargeRequest" parameterType="java.lang.Long">
        delete from charge_request where request_id = #{request_id,jdbcType=BIGINT}
    </delete>
    <select id="selectDicRequestType" resultType="org.springblade.fee.vo.DicRequestType" parameterType="java.lang.Integer">
        select text,enabled from dict_request_type where id =  #{id}
    </select>
    <select id="selectChargeRequest" resultType="org.springblade.fee.entity.ChargeRequest"  parameterType="java.lang.Long">
        select patient_id,request_type,charge_id,dept_id,doctor_id from charge_request where request_id =  #{request_id}
    </select>
    <select id="selectRequestChargeInfo" resultType="org.springblade.fee.entity.RequestChargeInfo" parameterType="java.lang.Long">
        select patient_id,request_type_id from request_detail where request_id =  #{request_id}
    </select>
    <select id="selectRecordCharge" resultType="org.springblade.fee.entity.RecordCharge" parameterType="java.lang.Long">
        select id,patient_id,create_time,paid_time,refund_time,status,toll_collector_id  from record_charge where id =  #{id}
    </select>
    <select id="selectChargeRequestList" resultType="org.springblade.fee.entity.ChargeRequest" parameterType="java.lang.Long">
        select patient_id,request_id,request_type,dept_id,doctor_id from charge_request where charge_id =  #{charge_id}
    </select>
    <select id="selectItemCount" resultType="org.springblade.fee.entity.ItemCount">
        select status from request_charge_info where item_id =  #{item_id} and request_id = #{request_id}
    </select>
    <select id="selectExpiryDate" resultType="java.lang.Integer" >
      select id  from record_charge where DATEDIFF(now(),create_time) > (select valid_quantum from expiry_date) and status = 1
    </select>
    <select id="selectItemCountByFEEITEM" resultType="java.lang.String" parameterType="org.springblade.fee.vo.ItemFavor">
        select fee_item from request_charge_info where item_id =  #{item_id} and request_id = #{request_id}
    </select>
    <select id="querycharge" resultType="org.springblade.fee.entity.RecordCharge" parameterType="org.springblade.fee.entity.RecordCharge">
        select id, patient_id,create_time,paid_time,refund_time,status,toll_collector_id,turn_status,category_id,money,reason from record_charge where 1=1
        <if test="patientId != null and patientId != ''">
            AND patient_id = #{patientId}
        </if>
        <if test="charge_id != null and charge_id != ''">
            AND id = #{charge_id}
        </if>
        <if test="status != null and status != ''">
            AND status = #{status}
        </if>
        <if test="start_time != null and end_time != null">
            AND create_time BETWEEN #{start_time}
            AND #{end_time}
        </if>
    </select>
</mapper>
