<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.or g/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.report.mapper.TollReportMapper">


    <select id="chargeStatistics" resultType="org.springblade.report.ChargestsList">
        SELECT * FROM
        (SELECT
        p.channel_type_id AS channelTypeId, dct.text as text, sum( p.fee_paid ) payTypeMoney
        FROM record_charge r
        LEFT JOIN charge_pay p ON p.charge_id = r.id
        LEFT JOIN dict_channel_type dct ON dct.id = p.channel_type_id
        WHERE 1 = 1
        AND toll_collector_id = #{toll_collector_id}
        AND p.charge_id = r.id
        AND p.STATUS = 1
        GROUP BY p.channel_type_id ) a,
        ( SELECT
        ifnull( sum( p.fee_refund ), 0 ) AS refund,
        ifnull( sum( p.fee_paid ), 0 ) AS totalMoney
        FROM record_charge r
        LEFT JOIN charge_pay p ON p.charge_id = r.id
        LEFT JOIN dict_channel_type dct ON dct.id = p.channel_type_id
        WHERE 1 = 1
        AND toll_collector_id = 1
        AND p.charge_id = r.id
        AND p.STATUS = 1
        ) b
    </select>
</mapper>
