<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.or g/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.report.mapper.report.TollReportMapper">

    <select id="chargeStatistics" resultType="org.springblade.report.entity.report.ChargestsList">
        SELECT * FROM
        (SELECT
        p.channel_type_id AS channelTypeId, dct.text as text,dct.color as color, ifnull(sum(p.fee_paid),0) payTypeMoney
        FROM record_charge r
        LEFT JOIN charge_pay p ON p.charge_id = r.id
        LEFT JOIN dict_channel_type dct ON dct.id = p.channel_type_id
        WHERE 1 = 1
        AND toll_collector_id = #{toll_collector_id}
        AND p.charge_id = r.id
        AND p.STATUS = 1
        AND r.turn_status=#{turnStatus}
        GROUP BY p.channel_type_id ) a,
        (SELECT
        ifnull(sum( p.fee_refund), 0 ) AS refund,
        ifnull(sum( p.fee_paid), 0 ) AS totalMoney
        FROM record_charge r
        LEFT JOIN charge_pay p ON p.charge_id = r.id
        LEFT JOIN dict_channel_type dct ON dct.id = p.channel_type_id
        WHERE 1 = 1
        AND toll_collector_id = #{toll_collector_id}
        AND p.charge_id = r.id
        AND p.STATUS = 1
        AND r.turn_status=#{turnStatus}
        ) b
    </select>
    <select id="rptdetail" resultType="org.springblade.report.entity.report.ReportDetail">
        SELECT
        r.id as id,
        c.text AS costCategory, drt.text AS requestType,ifnull(sum(p.fee_refund),0) as feeRefund , r.create_time AS
        createTime, r.paid_time AS paidTime,
        ifnull(rci.chargeable, 0 ) as chargeable,
        ifnull(rci.discountCost, 0 ) as discountCost,
        ifnull(rci.actuallyPay, 0 ) as actuallyPay,
        r.toll_collector_id AS tollCollectorId,
        cr.dept_id AS deptId, GROUP_CONCAT(distinct dct.text ) AS paymentMethod
        FROM
        record_charge r
        LEFT JOIN category c ON c.category_id = r.category_id
        LEFT JOIN charge_request cr ON cr.charge_id = r.id
        LEFT JOIN dict_request_type drt ON drt.id = cr.request_type
        LEFT JOIN charge_pay p ON p.charge_id = r.id
        LEFT JOIN dict_channel_type dct ON dct.id = p.channel_type_id
        LEFT JOIN request_detail rd ON rd.request_id = cr.request_id
        LEFT JOIN (
        SELECT
        request_id, ifnull(sum(fee_item ),0) AS chargeable,
        ifnull(sum( fee_favor ),0) AS discountCost, ifnull(sum( fee_final ),0) AS actuallyPay
        FROM
        request_charge_info
        GROUP BY request_id ) rci
        ON rci.request_id = rd.request_id
        WHERE 1 = 1
        <if test="createTime != null">
            AND
            r.create_time &gt;= #{createTime}
        </if>
        <if test="paidTime != null">
            AND
            r.paid_time &lt;= #{paidTime}
        </if>
        <if test="tollCollectorId != null">
            AND
            r.toll_collector_id=#{tollCollectorId}
        </if>
        <if test="turnStatus != null">
            AND r.turn_status =#{turnStatus}
        </if>
        <if test="requestType != null and requestType != ''">
            AND drt.text =#{requestType}
        </if>
        <if test="deptId != null">
            AND cr.dept_id =#{deptId}
        </if>
        <if test="paymentMethod != null and paymentMethod != ''">
            AND dct.text =#{paymentMethod}
        </if>
        GROUP BY r.id
    </select>


    <resultMap id="BaseResultMap" type="org.springblade.report.entity.report.ReportRecords">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="patient_id" jdbcType="BIGINT" property="patientId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="paid_time" jdbcType="TIMESTAMP" property="paidTime"/>
        <result column="refund_time" jdbcType="TIMESTAMP" property="refundTime"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="toll_collector_id" jdbcType="BIGINT" property="tollCollectorId"/>
        <result column="turn_status" jdbcType="INTEGER" property="turnStatus"/>
        <result column="category_id" jdbcType="TINYINT" property="categoryId"/>
    </resultMap>
    <select id="selectById" resultMap="BaseResultMap">
        select * from record_charge where 1=1 and id=#{id}
    </select>

    <update id="updateTurnStatus">
        update record_charge set turn_status = 1 where id=#{id}
    </update>

    <select id="totalViewReport" resultType="org.springblade.report.entity.report.ReportDetail">
        SELECT a.requestType as requestType, count( a.requestType ) as requestTypeCount,
        ifnull(sum(chargeable ),0) as sumChargeable, ifnull(sum(discountCost ),0) as sumDiscountCost, ifnull(sum(actuallyPay ),0) as sumActuallyPay
        FROM
        ( SELECT
        c.text AS costCategory, drt.text AS requestType, r.create_time AS createTime, r.paid_time AS paidTime,
        rci.chargeable AS chargeable, rci.discountCost, rci.actuallyPay,
        r.toll_collector_id AS tollCollectorId, cr.dept_id AS deptId,
        GROUP_CONCAT(distinct dct.text ) AS paymentMethod
        FROM
        record_charge r
        LEFT JOIN category c ON c.category_id = r.category_id
        LEFT JOIN charge_request cr ON cr.charge_id = r.id
        LEFT JOIN dict_request_type drt ON drt.id = cr.request_type
        LEFT JOIN charge_pay p ON p.charge_id = r.id
        LEFT JOIN dict_channel_type dct ON dct.id = p.channel_type_id
        LEFT JOIN request_detail rd ON rd.request_id = cr.request_id
        LEFT JOIN (
        SELECT
        request_id, ifnull(sum(fee_item ),0) AS chargeable, ifnull(sum(fee_favor ),0) AS discountCost, ifnull(sum(fee_final),0) AS actuallyPay
        FROM
        request_charge_info
        GROUP BY request_id
        ) rci ON rci.request_id = rd.request_id

        WHERE
        1 = 1
        <if test="createTime != null">
            AND
            r.create_time &gt;= #{createTime}
        </if>
        <if test="paidTime != null">
            AND
            r.paid_time &lt;= #{paidTime}
        </if>
        <if test="tollCollectorId != null">
            AND
            r.toll_collector_id=#{tollCollectorId}
        </if>
        <if test="turnStatus != null">
            AND r.turn_status =#{turnStatus}
        </if>
        <if test="requestType != null and requestType != ''">
            AND drt.text =#{requestType}
        </if>
        <if test="deptId != null">
            AND cr.dept_id =#{deptId}
        </if>
        <if test="paymentMethod != null and paymentMethod != ''">
            AND dct.text =#{paymentMethod}
        </if>
        GROUP BY r.id ) a
        WHERE 1 = 1
        GROUP BY
        a.requestType
    </select>
</mapper>
