<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.or g/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.sysettings.mapper.ChargeStatusMapper">
    <resultMap id="BaseResultMap" type="org.springblade.dictionary.DictChargeStatus">
        <id column="id" jdbcType="TINYINT" property="id"/>
        <result column="text" jdbcType="VARCHAR" property="text"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, text
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dict_charge_status
        where id = #{id,jdbcType=TINYINT}
    </select>
    <select id="selectAll" resultType="org.springblade.dictionary.DictChargeStatus">
        select * from dict_charge_status
    </select>

    <delete id="delById" parameterType="java.lang.Long">
        delete from dict_charge_status
        where id = #{id,jdbcType=TINYINT}
    </delete>

    <update id="updateByIds" parameterType="org.springblade.dictionary.DictChargeStatus">
        update dict_charge_status
        <set>
            <if test="id != null">
                id = #{id,jdbcType=TINYINT},
            </if>
            <if test="text != null">
                text = #{text,jdbcType=VARCHAR},
            </if>
        </set>
        where 1=1 and id = #{id,jdbcType=TINYINT}
    </update>
    <insert id="add" parameterType="org.springblade.dictionary.DictChargeStatus">
        insert into dict_charge_status (id, text)
        values (#{id,jdbcType=TINYINT}, #{text,jdbcType=VARCHAR})
    </insert>

</mapper>
