<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.or g/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.receipt.mapper.ChargeDetailsMapper">


    <select id="queryRequestDetailReceipt" parameterType="org.springblade.receipt.entity.RequestDetailReceiptVo" resultType="org.springblade.receipt.entity.RequestDetailsReceiptRes">
        SELECT
        request_detail.`request_id`,request_charge_info.item_id,request_charge_info.`item_type_id`,
        request_charge_info.`item_count`,charge_receipt.`status`,
        IFNULL(IFNULL(SUM(charge_pay.fee_paid),0)+IFNULL(SUM(fee_refund),0),0) AS totalMoney,
        IFNULL(SUM(fee_refund),0) AS refundMoney,
        IFNULL(SUM(charge_pay.fee_paid),0)AS payMoney
        FROM request_detail
        LEFT JOIN request_charge_info ON request_detail.`request_id`=request_charge_info.`request_id`
        LEFT JOIN record_charge       ON request_charge_info.`request_id`=record_charge.`id`
        LEFT JOIN charge_receipt      ON record_charge.id=charge_receipt.`charge_id`
        LEFT JOIN `charge_pay`        ON charge_pay.`charge_id`=record_charge.`id`
        WHERE
        <if test="status != null and status != ''">
            charge_receipt.`status`=#{status}
        </if>
        <if test="data != null">
            AND
            record_charge.paid_time=#{data}
        </if>
        <if test="id != null and id != ''">
            AND
            record_charge.toll_collector_id=#{id}
        </if>
    </select>
    <select id="queryHospitalizedList" resultType="org.springblade.receipt.entity.HospitalizedVo">
        SELECT
        charge_request.request_id,charge_pay.fee_paid, record_charge.paid_time,
        IFNULL(SUM(amount),0) AS totalMoney,
        IFNULL(SUM(input_advance_pay.consumed),0) AS payMoney,
        IFNULL(IFNULL(SUM(amount),0)-IFNULL(SUM(input_advance_pay.consumed),0),0) AS remainingMoney
        FROM input_advance_pay
        LEFT JOIN charge_request ON input_advance_pay.`patient_id`=charge_request.`patient_id`
        LEFT JOIN record_charge  ON charge_request.`patient_id`=charge_request.`patient_id`
        LEFT JOIN charge_pay     ON record_charge.`id`=charge_pay.`charge_id`
        WHERE
        <if test="status != null and status != ''">
            record_charge.`status`=#{status}
        </if>
        <if test="data != null">
            AND
            record_charge.paid_time=#{data}
        </if>
        <if test="id != null and id != ''">
            AND
            record_charge.toll_collector_id=#{id}
        </if>
    </select>
</mapper>
